## Дашборд для Яндекс.Дзен 
#### Выгрузка данных в csv файл
    Выгрузка данных и подготовка дашборда для менеджеров, о взаимодействии пользователей с карточками сервиса. Дашборд сформирован в Tableau Public. 
   Cсылка на Dashboard: [тут](https://public.tableau.com/profile/constantin3304#!/vizhome/ya_dzen_dashboard/Dashboard1?publish=yes)
       
    Презинтация приложена в архиве.

In [44]:
#-*- unicode: UTF-8 -*-

# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных
#формулировка адреса подключения
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])
engine = create_engine(connection_string) 
#формулировка запроса
query ='''
    SELECT *
    FROM dash_visits
    '''
#получение файла
data = pd.io.sql.read_sql(query, con = engine)
#запись файла
data.to_csv('/dash_visits.csv')

### Описание данных
    	record_id - айди записи
        item_topic - категория карточки
        source_topic - категория источника
        age_segment - возрвстной семент пользвателей
        dt - жата и время
        visits - количество визитов
   Данные охватывают промежуток времени с 18:28 до 19:01

In [47]:
data.info()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

Среднее и медианное количество генерируемых карточек по каналам:

In [52]:
t = data.groupby('source_topic',as_index=False).agg({'record_id':'nunique'})['record_id']
print(f'Среднее: {t.mean()}')
print(f'Медианное: {t.median()}')

Среднее: 1182.5
Медианное: 1066.0